@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  html {
    font-feature-settings: "ss01" on, "cv01" on, "cv10" on;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
